/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1 {
    font-size: 2.25rem;
    /* text-4xl */
    font-weight: 700;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.875rem;
    /* text-3xl */
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  h3 {
    font-size: 1.5rem;
    /* text-2xl */
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1.25rem;
    /* text-xl */
    font-weight: 500;
  }

}