@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "@tailwindcss/typography";


body{
  background-color: #F8FAFC;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Montserrat';
}

.ProseMirror p::before {
  content: attr(data-placeholder);
  color: #aaa;
  pointer-events: none;
  height: 0;
  float: left;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

