@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #e6e6ff;
  width: 100vw;
  overflow-x: hidden;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}